.asterisk {
  font-size: 1.6rem;
  color: #d50000;
  display: inline-flex;
  margin-left: 4px;
}

.comment {
  font-size: 1.1rem;
  font-weight: 400;
  color: #919aa3;
  display: inline-flex;
  margin-left: 8px;
}
