.wrapper {
  background-color: var(--bg-color-body);
}

.wrapper-content {
  display: flex;
}

.content {
  flex: 1;
  padding: 30px;
  margin-top: var(--height-header);
  margin-left: var(--width-nav);
}
